<app-navbar></app-navbar>
<section class="main-features bg-dark">
  <div
    class="container my-5 text-bg-dark d-flex align-items-center justify-content-center flex-row"
  >
    <div class="verify-email">
      <h1 class="fs-3 mt-4 fw-bold">
        <i class="fa-solid fa-envelope"></i> Please verify your email
      </h1>
      <h2 class="fs-4 mt-4">
        You're almost there! We sent an email to
        <span class="fw-bold">aasdasdsdasd@email.com</span>
      </h2>

      <br />

      <h2 class="fs-4">
        Just click on the link in that email to complete your signup.
      </h2>
      <h2 class="fs-4">
        If you don't see it, you may need to check your spam folder.
      </h2>

      <h2 class="fs-6 mt-5">Still can't find the email?</h2>
      <a class="btn btn-primary rounded-pill mt-1" role="button"
        >Resend Email</a
      >

      <div class="sign-in-link mt-5">
        <h2 class="fs-6">Already verified?</h2>
        <p class="small">
          <a routerLink="/login" class="link-primary">Sign in</a>
        </p>
      </div>
    </div>
  </div>
</section>
